@using Steganography.ViewModels
@model StegInViewModel

@{
    ViewData["Title"] = "StegIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<style>
    h5 {
        margin: 20px 0;
    }
    .file-drop-area {
        display: flex;
        align-items: center;
        transition: 0.2s;
    }

    .choose-file-button {
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        padding: 8px 15px;
        margin-right: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .file-message {
        font-size: small;
        font-weight: 300;
        line-height: 1.4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
    }

    .mt-100 {
        margin-top: 100px;
    }
</style>
    
<div class="col-xl-3 col-md-6 mb-4" style="margin-left:-15px">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Steg In</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-shield fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-7 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Upload Image File To Secure Your Message</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form asp-action="StegIn" asp-controller="Stego" method="post" enctype="multipart/form-data">
                    <div class="form-group pb-2">
                        <label>Message</label>
                        <textarea asp-for="Message" class="form-control" rows="7" placeholder="Enter your secret message here" id="editor"></textarea>
                        <span asp-validation-for="Message" class="text-danger small"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Upload File</label>
                                <div class="file-drop-area">
                                    <span class="choose-file-button">Choose a file</span>
                                    <span class="file-message">or drag and drop file here</span>
                                    <input asp-for="Image" class="file-input form-control" type="file" name="Image" id="Image" accept="image/png, image/jpeg" onchange="previewImage(event)">
                                </div>
                                <div class="pl-3">
                                    <small class="text-info" style="font-style:italic">Type: PNG &amp; JPG | Size: <= 5MB</small><br />
                                    <span asp-validation-for="Image" class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>STGK [StegKey]</label>
                                <input asp-for="StegKey" class="form-control" type="password" placeholder="Enter coded steg key" />
                                <span asp-validation-for="StegKey" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-outline-warning rounded-pill col-md-6"><i class="fa fa-shield"></i> Steg-In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-5 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Image File Previewer</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body img-thumbnail">
                <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 100%; display: none;" />
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).on('change', '.file-input', function() {
      var filesCount = $(this)[0].files.length;
      var textbox = $(this).prev();
      if (filesCount === 1) {
        var fileName = $(this).val().split('\\').pop();
        textbox.text(fileName);
      } else {
        textbox.text(filesCount + ' files selected');
      }
    });

    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    @if (TempData["SuccessMessage"] != null)
    {
                    <text>
                        Swal.fire({
                            icon: 'success',
                            text: '@TempData["SuccessMessage"]',
                            confirmButtonText: 'OK'
                        });
                    </text>
    }
    @if (TempData["ErrorMessage"] != null)
    {
                    <text>
                        Swal.fire({
                            icon: 'error',
                            text: '@TempData["ErrorMessage"]',
                            confirmButtonText: 'Dismiss'
                        });
                    </text>
    }
    $(document).ready(function() {
      $('#editor').summernote({
          height: 300,
          minHeight: 150,
          maxHeight: 500,
          focus: true,
          placeholder: 'Start typing here...',
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['link']]
          ]
      });
    });
</script>