@using Anaconda.Common

@{
    ViewData["Title"] = "Cookies Policy";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#0d6efd">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | @Constants.APP_NAME</title>
    <link rel="icon" type="image/x-icon" href="~/icons/stegtool.ico" />
    <link rel="apple-touch-icon" href="~/icons/stegtool.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="mb-4 text-primary">Cookie Policy</h1>
                    <p><strong>Effective Date:</strong> July 3, 2025</p>
                </div>
                <div class="col-md-3">
                    <img class="img-profile img-thumbnail" src="~/imgs/stegtool.jpg" style="width:100px; height:100px" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card shadow rounded-4">
            <div class="card-body p-4">
                <p>We value your privacy. This Privacy Policy outlines how we collect, use, and protect your information when you use our application.</p>

                <h4>1. What Are Cookies?</h4>
                <p>Cookies are small files stored on your device to help the site function effectively.</p>

                <h4 class="mt-4">2. How We Use Cookies</h4>
                <ul>
                    <li>Session cookies: To manage user logins and secure access.</li>
                    <li>Preference cookies: To remember user settings or language.</li>
                </ul>

                <h4 class="mt-4">3. No Third-Party Tracking</h4>
                <p>We do not use third-party tracking cookies (like Google Analytics or Facebook Pixel).</p>

                <h4 class="mt-4">4. Managing Cookies</h4>
                <p>You can configure your browser to block or delete cookies. Note that some features may not function properly if cookies are disabled.</p>

                <h4 class="mt-4">5. Contact</h4>
                <p>Email: <a href="mailto:support@prismdigitalco.com">support@prismdigitalco.com</a></p>
            </div>
        </div>
    </div>
</body>
</html>
