@using Steganography.ViewModels
@using Anaconda.Common
@model AuthenticationViewModel


@{
    ViewData["Title"] = "Entrance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<style>
    .select-hover:hover {
        cursor:pointer
    }
</style>

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">📌 Project Overview</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <p class="text-justify">
                    <strong>K-Steg</strong> is a web-based steganography application designed to allow users to securely hide and extract messages within images. It serves as a practical demonstration of data concealment techniques in cybersecurity and can be used for education, secure communication, or forensic testing purposes.
                </p>
                <hr>
                <h4>🎯 Objectives</h4>
                    <div class="card border-left-info">
                        <div class="card-body">
                            Enable users to embed secret text messages inside image files using Least Significant Bit (LSB) techniques.
                        </div>
                    </div>
                    <div class="card border-left-info">
                        <div class="card-body">
                        Allow secure retrieval and decoding of embedded messages from stego-images.
                        </div>
                    </div>
                    <div class="card border-left-info">
                        <div class="card-body">
                        Ensure a user-friendly interface with authentication, session tracking, and log history.
                        </div>
                    </div>
                    <div class="card border-left-info">
                        <div class="card-body">
                        Store and manage encoded images per user, with access control and download options.
                        </div>
                    </div>
                    <hr />
                <h4>🛠️ Key Features</h4>
                <div class="card border-bottom-primary">
                    <div class="card-body">
                        🔐 User Authentication & Authorization: Role-based access for encoding/decoding features.
                    </div>
                </div>
                <div class="card border-bottom-primary">
                    <div class="card-body">
                        🖼️ Image Upload & Preview: Supports JPEG, PNG formats with live preview and validation.
                    </div>
                </div>
                <div class="card border-bottom-primary">
                    <div class="card-body">
                        📥 Downloadable Stego Images: Encoded images can be viewed or downloaded securely.
                    </div>
                </div>
                <div class="card border-bottom-primary">
                    <div class="card-body">
                        📄 Activity Logs: Tracks encode/decode actions per user, with timestamps.
                    </div>
                </div>
                <div class="card border-bottom-primary">
                    <div class="card-body">
                        🗂️ Folder-Based Storage: Encoded images are saved to user-specific folders; paths are stored in the database.
                    </div>
                </div>
                <div class="card border-bottom-primary">
                    <div class="card-body">
                        ⚙️ SHA-512 Hashing, Random Key Generation and AES encryption to encoded messages: Adds message integrity and optional passcode-based protection.
                    </div>
                </div>
                <div class="card border-bottom-primary">
                    <div class="card-body">
                        🧪 Error Handling & Access Denied Pages: Friendly feedback and proper redirects for unauthorized access.
                    </div>
                </div>
                    
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">🌟 Support This Project</h6>
            </div>
            <div class="card-body">
                <div class="py-1 text-justify">
                    If you find this project helpful, please consider supporting its ongoing development. Your contribution helps keep it free, secure, and actively maintained.
                </div>
                <hr />
                @* <h6>Donate Now</h6> *@
                <div class="mt-4 text-center small">
                    <a class="btn btn-outline-info btn-block" href="https://paystack.shop/pay/daily-access" target="_blank">Donate Now <i class="fa-solid fa-hand-holding-dollar"></i></a>
                    @* <div class="col-md-6">
                        <a class="btn btn-outline-info btn-block" href="https://paystack.shop/pay/daily-access" target="_blank">Paystack <i class="fa-solid fa-hand-holding-dollar"></i></a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-outline-danger btn-block" href="https://paystack.shop/pay/daily-access" target="_blank">Payoneer <i class="fa-solid fa-hand-holding-dollar"></i></a>
                    </div> *@
                </div>
                <hr />
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <a href="https://wa.me/2348101263634?text=Hi%2C%20I'm%20interested%20in%20your%20tool" target="_blank" class="btn btn-success btn-sm">
                            <i class="fa-brands fa-whatsapp text-white"></i> Chat With Us
                        </a>
                    </span>
                    <span class="mr-2">
                        <a href="mailto:info@prsimdigitalco.com" class="btn btn-info btn-sm"><i class="fas fa-envelope text-white"></i> Email</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">📊 Outcomes</h6>
            </div>
            <div class="card-body">
                <div class="card border-left-success border-bottom-success">
                    <div class="card-body">
                        Reduced average decode time to under 1 second for messages ≤ 1,000 characters.
                    </div>
                </div>
                <div class="card border-left-success border-bottom-success">
                    <div class="card-body">
                        Achieved 100% message accuracy during QA testing.
                    </div>
                </div>
                <div class="card border-left-success border-bottom-success">
                    <div class="card-body">
                        Positive feedback from initial users on usability and interface responsiveness.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Registration Modal-->
<form method="post" asp-controller="Account" asp-action="Register">
    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">How Should I Recognize You?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="email" class="form-control" placeholder="Enter your steg email" asp-for="Email">
                    <div class="form-check pt-1 small select-hover">
                        <input type="checkbox" id="termsCheck" class="form-check-input select-hover">
                        <label for="termsCheck" class="form-check-label select-hover">
                            Yes, i agreed to the @Constants.APP_NAME <a asp-action="Terms" asp-controller="Home" target="_blank">Terms & Conditions</a> , <a asp-action="Privacy" asp-controller="Home" target="_blank">Privacy Poliices</a> and <a asp-action="Cookies" asp-controller="Home" target="_blank">Cookie Policy</a>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-user btn-block" id="btnRegister">
                        Register
                    </button>
                    <a class="small" href="#" data-toggle="modal" data-target="#loginModal" id="btn-login">Already have an account? Login!</a>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Login Modal-->
<form method="post" asp-controller="Account" asp-action="Login">
    @Html.AntiForgeryToken()
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready To Steg?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="py-2">Welcome back!!!</h6>
                    <input type="email" class="form-control" placeholder="Enter your steg email" asp-for="Email">                  
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary btn-user btn-block">
                        Get Access
                    </button>
                    <a class="small" href="#" data-toggle="modal" data-target="#regModal" id="btn-reg">Don't' have an account? Register!</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@if (!User.Identity!.IsAuthenticated) // use negation
{
    <script>
        window.onload = function(){
            $('#regModal').modal('show');
        };
    </script>
}

<script>
    window.addEventListener('DOMContentLoaded', () => {
      const checkbox = document.getElementById('termsCheck');
      const button = document.getElementById('btnRegister');

      // Ensure button is disabled on load
      button.disabled = true;

      // Toggle enable state and button style
      checkbox.addEventListener('change', () => {
      if (checkbox.checked) {
        button.disabled = false;
        button.classList.remove('btn-outline-danger');
        button.classList.add('btn-primary');
      } else {
        button.disabled = true;
        button.classList.remove('btn-primary');
        button.classList.add('btn-outline-danger');
      }
      });
    });

     $('#btn-reg').click(function()
     {
          $('#loginModal').modal('hide');
     })
     $('#btn-login').click(function()
     {
          $('#regModal').modal('hide');
         $('#loginModal').modal('show');
     })
    
     @if (TempData["SuccessMessage"] != null)
    {
                    <text>
                        Swal.fire({
                            icon: 'success',
                            text: '@TempData["SuccessMessage"]',
                            confirmButtonText: 'OK'
                        });
                    </text>
    }
    @if (TempData["ErrorMessage"] != null)
    {
                    <text>
                        Swal.fire({
                            icon: 'error',
                                text: '@TempData["ErrorMessage"]',
                            confirmButtonText: 'Dismiss'
                        });
                    </text>
    }
</script>