@using Steganography.ViewModels
@using Anaconda.Common
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error | @Constants.APP_NAME</title>
    <link rel="icon" type="image/x-icon" href="~/icons/stegtool.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />

    <style>
        * {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        body {
            text-align: center;
            margin: 0;
            background: linear-gradient(120deg, black 0%, red 100%);
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: #fff;
        }

        .img {
            width: 250px;
            margin: auto;
            font-size: 300px
        }

        h1 {
            font-weight: 200;
            font-size: 4em;
            margin: 1em;
        }

        p {
            font-size: 1.2em;
        }
    </style>

</head>
<body>

    <p>
        <strong>Error:</strong> <code>@Model.ErrorCode</code>
        <code>@Model.Text</code>
    </p>

    <div>
        <i class="fa-solid fa-warning img"></i>
        <h2 class="text-dark">Oops!!!</h2>
        <p class="text-muted mb-4">
            <h2 class="text-danger">
                @if(Model.ErrorCode == "404")
                {
                    <text>Page Not Found</text>
                }
                else
                {
                    <text>An error occurred while processing your request.</text>
                }
            </h2>
            @if (Model.ErrorCode == "404")
            {
                <text>The page you are looking for does not exist or is invalid.</text>
            }
            else
            {
                <text>If you believe this is a mistake, please contact the administrator.</text>
            }
        </p>
    </div>

    <script src="~/font-awesome/js/all.js"></script>
    <script src="~/font-awesome/js/all.min.js"></script>
</body>
</html>
