<hr />
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <span id="year"></span> <a href="" target="_blank">Kodex Power Service</a>. All rights reserved</span>
            <p class="pt-2">
                <a href="/Home/Privacy" class="me-3" target="_blank">Privacy Policy</a> |
                <a href="/Home/Terms" class="me-3" target="_blank">Terms of Service</a> |
                <a href="/Home/Cookies" target="_blank">Cookie Policy</a>
                <br />
                <br />
                <span style="font-size:11px;">Powered By <a href="https://prismdigitalco.com/" target="_blank">Prism Digital Company</a></span>
            </p>
        </div>
    </div>
</footer>